body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 100px;
    color: red;
}
button {
    border: none;
    background-color: blue;
    color: aliceblue;
    border-radius: 50px;
    width: 100px;
    height: 25px;
}

p {
    font_size: 50px;
    color: blueviolet;
}